@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer, .about-footer {
  height: 7vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .icons, .about-footer .icons {
  font-size: 1.7rem;
}
footer .icons .fa-github, .about-footer .icons .fa-github {
  transition: all, 0.5s;
  margin-left: 1.5rem;
}
footer .icons .fa-github:hover, .about-footer .icons .fa-github:hover {
  color: rgb(82, 41, 122);
  font-size: 1.7rem;
}
footer .icons .fa-linkedin, .about-footer .icons .fa-linkedin {
  transition: all, 0.5s;
  margin-left: 0.5rem;
}
footer .icons .fa-linkedin:hover, .about-footer .icons .fa-linkedin:hover {
  color: #0B5FBB;
  font-size: 1.7rem;
}
footer .copy, .about-footer .copy {
  margin-right: 1.5rem;
}

.about-footer {
  justify-content: center;
  gap: 2rem;
}

.main-header {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.main-header .nav {
  height: 75px;
  background-color: rgba(30, 48, 79, 0.5);
  border-radius: 0 0 40px 40px;
}
.main-header .nav .pages {
  display: flex;
  list-style-type: none;
  margin-top: 1.5rem;
}
.main-header .nav .pages a {
  text-decoration: none;
  color: white;
  margin: 0 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all, 0.2s;
}
.main-header .nav .pages a:hover {
  color: rgb(135, 107, 154);
  font-size: 1.7rem;
}

.about-container {
  height: 100vh;
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(./../img/pexels-photo-2387793.jpg);
  background-position: center center;
  background-size: cover;
}

.about-content {
  display: flex;
}

.bio-section {
  width: 50vw;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
}
.bio-section h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.bio-section p {
  width: 40vw;
}

.parts {
  width: 50vw;
  height: 83vh;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.parts div {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 50vh;
  overflow: auto;
}
.parts div::-webkit-scrollbar {
  width: 15px;
}
.parts div::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.5px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
  border-radius: 10px;
}
.parts div::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
  border-radius: 10px;
}
.parts div::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 40, 40);
}
.parts div section {
  margin: 1rem;
  width: 70%;
}
.parts div section h2, .parts div section h3 {
  margin-bottom: 0.5rem;
}
.parts div section h3 {
  font-weight: normal;
}
.parts div section p {
  font-weight: 300;
}

.container {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(./../img/pexels-photo-370717.jpg);
  background-position: center center;
  background-size: cover;
}

.main-content {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-content h2 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.project-container {
  height: 100vh;
  background-image: url(./../img/pexels-photo-3473569.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frame {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.frame iframe {
  background-color: white;
  width: 60%;
  height: 70%;
  border: none;
  border-radius: 10px;
}
.frame .pages-link a {
  color: rgb(195, 195, 195);
  text-decoration: none;
  margin: 0 0.5rem;
}

body {
  font-family: "Raleway", sans-serif;
}

/*# sourceMappingURL=main.css.map */
