.container{
    height: 100vh;
    background:linear-gradient(
        to right,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.7),
    ),
    url(./../img/pexels-photo-370717.jpg) ;
    background-position: center center;
    background-size: cover;
}

.main-content{
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 4rem;
        font-weight: 500;
        margin:.5rem 0;
    }
}