.main-header{
    height: 10vh;
    display: flex;
    justify-content: center;
    .nav{
        height: 75px;
        background-color:rgb(30,48,79,.5) ;
        border-radius: 0 0 40px 40px ;
        .pages{
            display: flex;
            list-style-type: none;
            margin-top: 1.5rem;
            a{
                text-decoration: none;
                color: white;
                margin: 0 2rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                transition: all ,.2s;
                &:hover{
                    @include hover($primary-color,1.7rem)
                }
            }
        }
        .current-page{
            a{
                color: $primary-color;
                font-weight: 700;
            }
        }
    }
}
